.side-revealer {
	background-color: @theme_base_color;
}

.devices-stack {
	transition: linear 100ms filter;
}

.sidebar-open .devices-stack {
	filter: blur(10px) brightness(0.65);
}

.cli-prompt-form > label {
	padding: 2px 8px;
}

.cli-prompt-form > button {
	margin: 8px 0px;
}

.error-label {
	padding: 8px 16px;
}

.device-controls {
	margin: 8px 4px;
}

.device-controls > frame > label {
	margin-left: 0.5em;
}

.device-controls > frame > box {
	margin: 0 8px;
	margin-bottom: 10px;
}

.device-controls > frame > box > box:not(:last-child) {
	margin-right: 8px;
}

.device-controls scale > value {
	margin-top:  -10px;
	margin-bottom: 5px;
}

.device-controls scale slider {
	min-width:  16px;
	min-height: 16px;
	margin: -4px;
	background: @theme_selected_bg_color;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.device-controls scale slider,
.device-controls scale trough,
.device-controls scale highlight {
	border-radius: 99px;
}

.device-controls scale trough,
.device-controls scale highlight {
	min-width: 8px;
}

.indicators {
	margin-left: 4px;
}

.indicators > *:not(:last-child) {
	margin-right: 12px;
}

.indicators image {
	margin-right:  2px;
	margin-bottom: 2px;
}

.more {
	margin: 10px;
	margin-top: 0;
}

.more-pattern > stack > box {
	margin: 0 4px;
	margin-bottom: 4px;
}

.pattern-error {
	margin-bottom: 4px;
}

.pattern-controls > * {
	min-height: 0;
	min-width:  0;
	padding: 6px;
}

.pattern-controls > *:first-child {
	padding: 14px;
}

.pattern-controls > *:not(:first-child) {
	margin-left: 5px;
}

.pattern-browser-body {
	margin: 8px;
}

.pattern-browse-row {
	background-color: @theme_base_color;
	border: 1px solid @borders;
	margin-bottom: 8px;
	border-radius: 8px;
	padding: 8px;
}

.pattern-tryout-body scale {
	padding: 0;
	margin-right: 2em;
}

.pattern-tryout-body scale > value {
	margin-left: 10px;
}

.pattern-tryout-body button {
	padding: 12px;
	min-width:  0;
	min-height: 0;
}

.pattern-tryout {
	padding: 12px;
}
